.home {
    .img {
        background-image: url(./assets/Group\ 2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 1697px;
        height: 405px;
        align-items: center;
    }

    h1 {
        font: 700 20px Inter;
        text-align: center;
        color: #000;
        margin-bottom: 5px;
    }

    p {
        font: 400 10px Inter;
        text-align: center;
        color: #000;
        width: 299px;
        margin:auto;
    }
}